brush-app/
colmap/
processing_output/
brush-app-x86_64-pc-windows-msvc/
colmap-x64-windows-cuda/
colmap-x64-windows-cuda_backup/
uploads/
app.log
__pycache__/
target/
versions.json
ml-sharp/
LichtFeld-Studio-windows-nightly*/
2d-gaussian-splatting-main/.venv/
2d-gaussian-splatting-main/submodules/simple-knn/build/
2d-gaussian-splatting-main/submodules/diff-surfel-rasterization/build/
2d-gaussian-splatting-main/**/*.egg-info/


